<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, value: current_user.id  %>
  <div class="mb-3">
    <%= form.label :company, class: "form-label" %>
    <%= form.text_field :company, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :role, class: "form-label" %>
    <%= form.text_field :role, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :recruiter, class: "form-label" %>
    <%= form.text_field :recruiter, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :technology, class: "form-label" %>
    <%= form.text_field :technology, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :next_meetup, class: "form-label" %>
    <%= form.datetime_field :next_meetup, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select(:status, Job::COLOR_CODE.keys, {},{class: "form-select"}) %>
  </div>
  <div class="mb-3">
    <%= form.label :desc, class: "form-label" %>
    <%= form.rich_text_area :desc, class: "form-control job_desc_text tinymce" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-sm btn-primary" %>
  </div>
<% end %>