<!DOCTYPE html>
<html>
  <head>
    <title>Projectly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
      .GoogleOauth2{
          background: url(../assets/btn_google_signin_dark_focus_web.png) no-repeat;
          border: 0px;
          width: 200px;
          height: 45px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Projectly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if current_user.present? %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
              </li>
            <% end %>
          </ul>
        </div>
        <% if current_user.present? %>
          <div class="float-start">
            <%= link_to image_tag(current_user.avatar_url, size: "30"), edit_user_registration_path %> <%= current_user.fullname %>
            <a href="/projects/new" class="btn btn-success">New Project</a>
          </div>
          <%= button_to "Logout", destroy_user_session_path, data: { turbo: false }, method: :delete, class: "btn btn-danger ms-2"  %>
        <% end %>
      </div>
    </nav>
    <div class="container p-2 pt-3" >
      <%= yield %>
    </div>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
